.leaderboard-container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 14px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background: #222;
  color: white;
}
.topic-cell {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.4;
  max-width: 250px; /* Adjust as needed */
  margin: 0 auto;
  cursor: pointer;
}
tr:nth-child(even) {
  background: #f5f5f5;
}

button {
  padding: 8px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}